/* Header Styling */

#header {
    /*position: absolute;*/
    width: 100%;
    /*left: 0;
    top: 0;*/
    background-color: #F6F6F8;
    font-family: "Lato";
    font-weight: 400;
    font-size: 20px;
    color: #838691;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

#headerTitle {

}

#headerDeveloper {

}